<a id="statusAction">Ready</a>

<div id="status">
  <div id="statusDetails">
    <!-- frameEditorTab -->
    <a tab="sceneEditor">X:0,Y:0</a>
    <a tab="sceneEditor">Selected objs:0</a>
    <a tab="sceneEditor">Screen dim:640x480</a>
    <a tab="sceneEditor">Zoom:100%</a>
    <!-- scriptEditorTab -->
    <a tab="scriptEditor">Line:1,Col:1</a>
    <a tab="scriptEditor">Chars:0</a>
    <a tab="scriptEditor">Lang:JAVASCRIPT</a>
    <a tab="scriptEditor">Spaces:4</a>
    <!-- runEditorTab -->
    <a tab="player">X:0,Y:0</a>
    <a tab="player">Objects:1</a>
    <a tab="player">Mode:Release</a>
  </div>

  <div id="notifications" class="notifMenu">
    <button>
      <i class="ri-notification-line"></i>
      <i class="ri-notification-fill"></i>
    </button>

    <div class="notifSubMenu">
      <div class="notifItem">
        <a>Mise à jour disponible</a>
      </div>
    </div>
  </div>
</div>