<img id="appIcon" src="../assets/images/favicon.png"/>

<div class="appMenuItem">
    <button>File</button>
    <div class="appMenuItemSubMenu">
        <div>
            <a class="appMenuItemLabel">New Window</a>
            <a class="appMenuItemKey">Ctrl+Alt+N</a>
        </div>
        <span class="appMenuItemHr"></span>
        <div>
            <a class="appMenuItemLabel">New Project</a>
            <a class="appMenuItemKey">Ctrl+N</a>
        </div>
        <div id="openProjectBtn">
            <a class="appMenuItemLabel">Open Project</a>
            <a class="appMenuItemKey">Ctrl+O</a>
        </div>
        <span class="appMenuItemHr"></span>
        <div id="saveSceneBtn">
            <a class="appMenuItemLabel">Save Scene</a>
            <a class="appMenuItemKey">Ctrl+S</a>
        </div>
        <div id="saveProjectBtn">
            <a class="appMenuItemLabel">Save Project</a>
            <a class="appMenuItemKey">Ctrl+Shift+S</a>
        </div>
        <span class="appMenuItemHr"></span>
        <div>
            <a class="appMenuItemLabel">Preferences</a>
        </div>
        <span class="appMenuItemHr"></span>
        <div id="exitAppBtn">
            <a class="appMenuItemLabel">Exit</a>
            <a class="appMenuItemKey">Alt+F4</a>
        </div>
    </div>
</div>

<div class="appMenuItem">
    <button>Edit</button>
    <div class="appMenuItemSubMenu">
        <div id="undoBtn">
            <a class="appMenuItemLabel">Undo</a>
            <a class="appMenuItemKey">Ctrl+Z</a>
        </div>
        <div id="redoBtn">
            <a class="appMenuItemLabel">Redo</a>
            <a class="appMenuItemKey">Ctrl+Y</a>
        </div>
        <span class="appMenuItemHr"></span>
        <div id="copyBtn">
            <a class="appMenuItemLabel">Copy</a>
            <a class="appMenuItemKey">Ctrl+C</a>
        </div>
        <div id="cutBtn">
            <a class="appMenuItemLabel">Cut</a>
            <a class="appMenuItemKey">Ctrl+X</a>
        </div>
        <div id="pasteBtn">
            <a class="appMenuItemLabel">Paste</a>
            <a class="appMenuItemKey">Ctrl+V</a>
        </div>
        <span class="appMenuItemHr"></span>
        <div>
            <a class="appMenuItemLabel">Delete</a>
            <a class="appMenuItemKey">Del</a>
        </div>
        <span class="appMenuItemHr"></span>
        <div id="alignToolsBtn">
            <a class="appMenuItemLabel">Align & Distribute</a>
            <a class="appMenuItemKey">Ctrl+Shift+A</a>
        </div>
        <span class="appMenuItemHr"></span>
        <div id="groupObjectsBtn">
            <a class="appMenuItemLabel">Group</a>
            <a class="appMenuItemKey">Ctrl+G</a>
        </div>
        <div id="ungroupObjectsBtn">
            <a class="appMenuItemLabel">Ungroup</a>
            <a class="appMenuItemKey">Ctrl+Shift+G</a>
        </div>
    </div>
</div>

<div class="appMenuItem">
    <button>View</button>
    <div class="appMenuItemSubMenu">
        <div id="toggleCollidersBtn">
            <a class="appMenuItemLabel">
                <i class="ri-checkbox-blank-line" style="margin-right: 8px;"></i>
                Show Colliders
            </a>
        </div>
    </div>
</div>

<div class="appMenuItem">
    <button>Project</button>
    <div class="appMenuItemSubMenu">
        <div id="projectSettingsBtn">
            <a class="appMenuItemLabel">Paramètres</a>
            <a class="appMenuItemKey">Ctrl+,</a>
        </div>
        <span class="appMenuItemHr"></span>
        <div id="runSceneBtn">
            <a class="appMenuItemLabel">Run Scene</a>
            <a class="appMenuItemKey">F5</a>
        </div>
        <div id="runApplicationBtn">
            <a class="appMenuItemLabel">Run Application</a>
            <a class="appMenuItemKey">Shift+F5</a>
        </div>
    </div>
</div>

<div class="appMenuItem">
    <button>View</button>
    <div class="appMenuItemSubMenu">
        <div id="zoomInBtn">
            <a class="appMenuItemLabel">Zoom+</a>
            <a class="appMenuItemKey">Ctrl++(num.)</a>
        </div>
        <div id="zoomOutBtn">
            <a class="appMenuItemLabel">Zoom-</a>
            <a class="appMenuItemKey">Ctrl+-(num.)</a>
        </div>
        <div id="zoomResetBtn">
            <a class="appMenuItemLabel">Reset Zoom</a>
            <a class="appMenuItemKey">Ctrl+0(num.)</a>
        </div>
        <span class="appMenuItemHr"></span>
        <div id="showGridBtn" check="true">
            <a class="appMenuItemLabel">Show Grid</a>
            <i class="appMenuItemCheck ri-check-line"></i>
        </div>
        <div id="snapToGridBtn" check="true">
            <a class="appMenuItemLabel">Snap to Grid</a>
            <i class="appMenuItemCheck ri-check-line"></i>
        </div>
        <div id="gridLinesBtn" check="true">
            <a class="appMenuItemLabel">Grid Lines</a>
            <i class="appMenuItemCheck ri-check-line"></i>
        </div>
        <div id="gridSizeBtn">
            <a class="appMenuItemLabel">Grid Size (16px)</a>
        </div>
    </div>
</div>

<div class="appMenuItem">
    <button>Help</button>
    <div class="appMenuItemSubMenu">
        <div>
            <a class="appMenuItemLabel">Documentation</a>
            <a class="appMenuItemKey">F1</a>
        </div>
        <span class="appMenuItemHr"></span>
        <div>
            <a class="appMenuItemLabel">Check for updates...</a>
        </div>
        <span class="appMenuItemHr"></span>
        <div>
            <a class="appMenuItemLabel">About</a>
        </div>
    </div>
</div>

<div id="movableBar" class="drag-on">
    <a id="appTitle">AJS Develop 1.0</a>
</div>

<div id="windowToolsBar">
    <i id="appMinimizeBtn" class="windowToolIcon ri-subtract-line"></i>
    <i id="appMaximizeBtn" class="windowToolIcon ri-square-line"></i>
    <i id="appCloseBtn" class="windowToolIcon ri-close-line"></i>
</div>