<div class="workspaceTitleBar">
  <a>Properties</a>
  <div class="propertiesExtensionInfo" shown="false">
    <label> - </label>
    <img src="">
    <label>Extension name</label>
  </div>



  <div class="workspaceMenuItem">
    <button>...</button>
    <div class="workspaceSubMenu">
      <div check="true">
        <a class="workspaceMenuItemLabel">Dock</a>
        <i class="workspaceMenuItemCheck ri-check-line"></i>
      </div>
      <div check="false">
        <a class="workspaceMenuItemLabel">Minimize</a>
        <i class="workspaceMenuItemCheck ri-check-line"></i>
      </div>
    </div>
  </div>

</div>
<!--  -->
<!--  -->
<!--  -->
<div id="propertiesBox">

</div>






<div id="filePickerBack" opened="false">
  <!--  -->
  <div id="filePicker">
    <div id="fpHeader">
      <label>Assets - Picker</label>

      <div class="searchBar">
        <i class="ri-search-line"></i>
        <input type="text">
      </div>

      <i class="close ri-close-line" modal="filePickerBack"></i>
    </div>
    <!--  -->
    <div id="fpBody">

    </div>
    <!--  -->
  </div>
  <!--  -->
</div>